apiVersion: v1
kind: Service
metadata:
  name: {{ include "qubit-engine.fullname" . }}-backend-headless
  labels:
    {{- include "qubit-engine.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  ports:
  - port: 50051
    name: grpc
  clusterIP: None
  selector:
    {{- include "qubit-engine.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend

---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "qubit-engine.fullname" . }}-frontend-service
  labels:
    {{- include "qubit-engine.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "qubit-engine.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "qubit-engine.fullname" . }}
  labels:
    {{- include "qubit-engine.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
